.wrapper {
  // max-width: 480px;
  // max-height: calc(100vh - 32px);
  max-height: 380px;
  // background-color: #3c434e;
  border-radius: 16px;
  border: 1px solid #bab8c4;
  padding: 16px;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  header {
    color: #bab8c4;
    margin-bottom: 24px;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    div {
      display: flex;
      align-items: center;
      // justify-content: space-between;

      margin-bottom: 8px;
    }

    p:first-child {
      font-size: 1rem;
      font-weight: 500;
    }

    p:nth-child(2) {
      font-size: 0.75rem;
    }
  }

  > div {
    margin-block: 12px;
  }
}

.button {
  width: 32px;
  height: 32px;

  border: 1px solid #bab8c4;
  border-radius: 12px;
  background-color: transparent;

  margin-right: 8px;

  cursor: pointer;

  &-active {
    width: 32px;
    height: 32px;
    margin-right: 8px;

    border: 1px solid #bab8c4;
    background-color: #bab8c4;
    border-radius: 12px;

    cursor: pointer;
  }
}

.button-wrapper {
  margin-top: 4px;
  & > * {
    margin-right: 12px;
  }
}

.buttons-wrapper {
  display: flex;
}

.body-empty {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding-inline: 16px;

  & path {
    stroke: white;
  }

  & p {
    margin-top: 16px;
    text-align: center;
    color: white;
    font-size: 1.125rem;
  }
}
