.wrapper {
  padding:16px;
  background-color: #061018;
  width: 320px;
  height: 320px;
  border: 1px solid #bab8c4;
  border-radius: 8px;

  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .body {
    padding-block: 8px;

    position: relative;
    overflow-x: hidden;

    & > * {
      margin-block: 12px;
    }
  }

  hr {
    margin-top: 8px;
  }
}
