.button {
  border: 1px solid #d9d9d9;
  padding-inline: 12px;
  padding-block: 5px;
  border-radius: 13px;
  background-color: white;
  color: #bd1111;
  font-weight: 600;
}

.button:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

.selected {
  border: 1px solid #bd1111;
  background-color: #bd1111;
  color: white;
}
